@import url('https://fonts.cdnfonts.com/css/gill-sans-2');
@import url('https://fonts.cdnfonts.com/css/abril-fatface');

article {
    font-family: 'Gill Sans', sans-serif;
    max-inline-size: 400px;
    background: #fff;
    margin-block: 3rem;
    box-shadow:
        0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 1rem;
    border: 1px solid #DADCEB;

   /*  1. Use space to group related elements */
    > * + * {
    margin-top: var(--flow-space, 1rlh);

     h2{
        --flow-space: 5rlh;
    } 
    .amenities {
        --flow-space: 3rlh;
    }
}}

.picture {
    display: grid;
/*     5. Remove unnecessary styles */
/*     padding: .5rem; */

    >* {
        grid-area: 1 / 1;
    }

    .back {
        place-self: start;
        margin: 1rem;
        z-index: 1;
/*         7. Ensure interface elements have a 3:1 contrast ratio */
        color: #b8b4b4;
        background-color: #fff;
        border-radius: 100%;
    }

    .image-count {
        padding: .5rem 1rem;
        border-radius: 1rem;
        letter-spacing: 2px;
        line-height: 1;
        place-self: end;
        background: #BDC4CE;
        color: #fff;
        margin: 1rem;
    }

    img {
        border: 1px solid #DADCEB;
        border-radius: .5rem;
    }
}

.card-content {
    display: grid;
    gap: 1rem;
    padding: 0 2rem 1rem;
}

.title {
/*     10. Use a single sans serif typeface */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2rem;
  /*   6. Use colour purposefully */
 /*  14. Avoid pure black text */
    color: #292929;
}

.location {
    color: #a3a3a3;
  /*   12. Limit the use of uppercase */
   /*  text-transform: uppercase; */
    font-size: .95em;
}

.description p {
    /* 15. Left align text */
    text-align: left;
 /*    11. Use a typeface with taller lower case letters */
    font-family:Arial, Helvetica, sans-serif;
  /*   16. Use at least 1.5 line height for body text */
    line-height: 1.5em;
    font-size: smaller;
}

.amenities-details {
    display: flex;
   /*    3. Ensure similar looking elements function similarly */
       /*  background: #F0F2FF; */
    gap: 1.75rem;

    li {
        flex: 1;
        display: grid;
        gap: .75rem;
        place-items: center;
        padding: .25rem;

     /*    3. Ensure similar looking elements function similarly */
       /*  background: #F0F2FF; */
        color: #0000007b;
    }
}


footer {
    padding: 1rem 2rem;
    box-shadow: 0 -2px 4px -1px #0002;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;


    button {
        padding: .75rem 1rem;
        border: none;
        line-height: 1;
        border-radius: 8px;
        font-weight: 500;
        font: inherit;
       /*  4. Create a clear visual hierarchy */
        background: #3C55CC;;
        color:#F0F2FF;
    }

    .price {
        font-weight: 600;

        span {
            color: #908F9F;
            font-size: 0.75em;
            font-weight: 400;
        }
    }
}











@layer reset {
    * {
        margin: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100svh;
        font-family: system-ui, sans-serif;
        display: grid;
        place-content: center;
        background: #F5F6FA;
    }

    img,
    svg {
        display: block;
        max-inline-size: 100%;
        height: auto;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .sr-only {
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        /* 1 */
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        /* 2 */
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
    }
}