article {
    max-width: auto;
    margin-inline: auto;
}

.content {
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 2fr);
    --content: min(75ch, 100% - var(--gap) * 3);
    --feature: minmax(0, 5rem);

    display: grid;
    grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [content-start] var(--content)
    [content-end]
    var(--feature) [feature-end]
    var(--full) [full-end];
}

.content > * {
    grid-column: content;
  }

.feature {
grid-column: feature; 
}

.full{
    grid-column: full;
}
